.sam_i_p_canvas { 
  background: #eee; border: 1px solid black; 
}

.sam_i_p_data p, .sam_i_p_data__heading {
  margin: 10px;
}
.sam_i_p_write-data {
  min-height: 100px;
}

.sam_i_p_read-data, .sam_i_p_write-data {
  box-sizing: border-box;
}
.sam_i_p_pre-data {
  font-weight: bold;
}

.sam_i_p_component-wrapper {
  width: 900px;
  box-shadow: 2px 2px 4px #000000;
}

.sam_i_p_component-wrapper > * {
  width: 100%;
}

.sam_i_p_canvas-container {
  display: flex;
  height: 300px;
}
.sam_i_p_processor-contianer {
  height: 100%;
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}
.sam_i_p_read-data-text-container {
  max-height: 200px; 
  overflow-y: scroll;
}

.sam_i_p_component-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.sam_i_p_form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
  width: 100%;
}

.sam_i_p_form-group > * {
  width: 20%;
  margin: 0;
}

.sam_i_p_form-group input {
  width: 75%;
}

.sam_i_p_input-form__submit-button {
  width: 100%;
}

.hidden {
  display: none;
}

.sam_i_p_read-data-text-container {
  display: flex;
  flex-direction: column-reverse;
}